{% extends "base.html" %}
{% load static %}
{% block content %}

    <div class="img">
    <img class="img" src="{% static "image/hello.jpg" %}" alt="My image">
    </div>
<h1>О клинике</h1>
    <p>Наша клиника была задумана как достойная альтернатива стоматологическим клиникам, расположенным
        в центре, - для людей, которые хотят получить услуги высокого уровня рядом с домом.</p>
    <p>Мы небольшая клиника, что позволяет нам следить за качеством наших услуг и удерживать их на стабильно высоком уровне.</p>
    <p>Мы постоянно совершенствуем свой профессиональный уровень, используем современные методики лечения
        и дорогие высококачественные материалы.</p>
    <h2>Почему вам стоит пройти стоматологическое лечение зубов у нас, в «ЭстетДент»?</h2>
    <ul>
        <li>Штат высококвалифицированных стоматологов;</li>
        <li>Современное оборудование;</li>
        <li>Современные медицинские препараты и надежные качественные материалы;</li>
        <li>Доброжелательный вежливый персонал;</li>
        <li>Умеренная ценовая политика;</li>
        <li>Индивидуальный подход к каждому пациенту;</li>
        <li>Возможность получения профессиональной консультации и профилактического врачебного осмотра../</li>
    </ul>
{% endblock %}